# Ignore Python cache files
__pycache__/
*.py[cod]
*~
.mypy_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore backup pkl files (they are huge, we only need the primary ones)
*.pkl1

# Ignore large pbix files
*.pbix
